* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff ;
  line-height: 1.6;
}

/* header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.card {
  color: #333;
  border-radius: 50px;
  padding: 8% 8%;
  margin: 4% 0;
} 
